<main>
  <h2><i class="fas fa-star"></i>about</h2>
  <div class="main-container">
<div class="about-background"></div>
<div class="about-text">
  <div class="about-heading">
  Hellow<i class="fas fa-hippo"></i>World! 
  </div>
  <p>
  A few months ago, we set out to understand more deeply the perceptions of Twitter around the world.As we dove into this research, some interesting trends emerged.<br />
  First, ninety percent of people globally recognize the Twitter brand. Ninety percent! That’s a testament to all the people, companies, news outlets and public figures who use Twitter and make it as powerful and far-reaching as it is today. <br />
  We heard loud and clear that those who use Twitter do so because they know exactly what Twitter is for and why it’s important in their lives. The majority of people who use Twitter the most told us it’s the best and fastest way to see what’s happening.
  </p>
</div>
</div>
</main>

