<main>
  <div class="top-main">
    <div class="top-heading">
    <h1>Tweet App</h1>
    </div>
    <div class="top-sign">
   <%= link_to "Sign in", new_user_session_path %>
   <%= link_to "Sign Up",  new_user_registration_path %>
    </div>
  </div>
</main>
