<main>
  <div class="top-main">
    <div class="top-heading">
    <h1>Tweet App</h1>
    </div>
    <div class="top-sign">
    <a href="#">Log In</a><br/>
    <a href="#">Sign Up</a>
    </div>
  </div>
</main>
