// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* home */

.top-main {
  width: 100%;
  height: 700px;
  background-image: url("/top.jpg");
  background-size: cover;
  text-align: center;
}

.top-heading {
  margin-top: 250px;
  color: #ffffff;
  display: inline-block;
}

.top-heding-text {
  font-size: 80px;
}

.top-sign {
  color: #ffffff;
}

span {
  font-size: 16px;
  margin: 10px 10px;
  padding: 6px 20px;
  border-radius: 50px;
  border: solid 1px #4dffe1;
  background-color :rgba(0,153,255,0.2);
}

.kaba {
  font-size: 50px;
  color: #ffff00;
}


.big-kaba {
  font-size: 100px;
  color: #ffff00;
}

/* about */

.about-background {
  width: 900px;
  height: 400px;
  background-image: url("/tweets.jpg");
  background-size: cover;
}