// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-main {
  width: 100%;
  height: 700px;
  background-image: url("/top.jpg");
  background-size: cover;
  text-align: center;
}

.top-heading {
  font-size: 30px;
  margin-top: 300px;
  color: #ffffff;
  display: inline-block;
}

.top-sign {
  color: #ffffff;
  
}